body {
    background-color: hsl(30, 54%, 90%) ;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(24, 5%, 18%);
}

* {
    box-sizing: border-box;
}

.header-img {
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

.font {

    font-family: "Young Serif", serif;
    font-style: normal;
    font-weight: 400;

}

.container {
    background-color: hsl(330, 100%, 98%);
    padding: 40px 30px;
    border-radius: 20px;

}

.list {
    background-color: hsla(332, 51%, 32%, 0.03);
    padding: 20px 0 20px 20px;
    border-radius: 20px;
}

.bold {
    font-weight: 600;
    color: hsl(24, 5%, 18%);
}

.nutmeg {
    color: hsl(14, 45%, 36%);
}

#rasberry {
    color:  hsl(332, 51%, 32%);
    font-size: 1.2em;
}

.instructions, .ingredients {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 20px;

}

ol, ul {
    margin-left: -20px;
    
}

ul li::marker {
    color: hsl(332, 51%, 32%);
}

.nut::marker {
    color: hsl(14, 45%, 36%);
}

li {
    padding: 10px 0;
}

.nutrition {
    padding: 20px;
}

td {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 10px 0;
    
}

td:first-child {
    position: relative;
    left: 25px;
}

.lchild {
    border-bottom: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}



@media only screen and (min-width: 1440px) {
    .container {
        width: 50vw;
        margin: 110px auto 110px auto;

    }
}


@media only screen and (max-width: 375px) {
    .container {
        width: 100vw;
        background-color: hsl(0, 0%, 100%);
        border-radius: 0;
    }

    body {
        background-color: hsl(0, 0%, 100%);
    }

    .header-img {
        border-radius: 0;
    }

}